.blogarea{
    display: flex;
    justify-content: center;
    max-width: 1170px;
    padding: 100px 0 0 0;
}

.blogAreaContent {
    width: 800px;
    h1 {
        font-weight: 700;
        font-size: 45px;
        color: #FCA311;
    }
}

.articlesArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentArticle{

    h2 {
        font-size: 35px;
        color: #FCA311;
        transition: 0.2s;
        &:hover{
            color: #eb9710;
        }
    }

    p {
        padding: 20px 0 0 0;
        font-size: 14px
    }
}

.article{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 250px;
}