.cardAreaHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
}

.assetAreaHalf {
    background-color: #c2c2c2;
    height: 300px;
    width: 400px;
}

.titleAreaHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 300px;
    width: 400px;

    .cardTitleHalf {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    p{
        color: #FCA311;
        font-weight: 700;
        font-size: 40px;
        transition: 0.2s;
        &:hover{opacity: 0.7;}
    }

    .cardLinkHalf {
        span{
            color: #ECF0F3;
            height: 300px;
            font-size: 25px;
            transition: 0.2s;
            &:hover{
                border-bottom: 2px solid #ECF0F3;
                padding-bottom: 5px;
            }
        }
    }
}

.cardHalf {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    height: 300px;
    width: 800px;
    background-color: #14213D;
}


